body {
  font-family: Arial, sans-serif;
  background-color: #00001b;
  line-height: 1.6;
  color: #ffffff;
}

.titulo {
    color: #FFFFFF;
    text-align: center;
}

.faq-container {
    max-width: 800px;
    margin: 70px auto;
    padding: 0 20px;
    opacity: 0.5;

}

.faq-item {
    background: #1a1a2a;
    border-radius: 5px;
    padding: 15px 20px;
    margin-bottom: 15px;
}

.faq-question {
    margin-bottom: 10px;
    color: white;
}

.faq-answer {
    line-height: 1.6;
}





.topo {
  display: flex;
  justify-content: space-between;
  background-color: #00001b;
  height: 110px;
  border: 1px #ffffff solid;
  border-radius: 10px;
}

#titulo {
  margin-left: 67px;
}

#links {
  width: 145px;
  margin: auto 35px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#barraPesquisa {
  background-color: #1a1a2a;
  border: solid 1px;
  border-radius: 15px;
  width: 300px;
  height: 35px;
  margin: auto 30px;
}

#textoBusca {
  float: left;
  color: #FFFFFF;
  background-color: transparent;
  padding-left: 5px;
  font-style: italic;
  font-size: 18px;
  border: none;
  height: 32px;
  width: 260px;
}

#base {
  background-color: #00001b;
  color: #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: #00001b;
  display: flex;
  justify-content: space-evenly;
}

li {
  float: none;
}

li a {
  display: flex;
  justify-content: space-evenly;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  text-decoration: underline;
  cursor: pointer;
}





footer {
    background-color: #00001b;
}

.caixa {
    background-color: #1E1E1E;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

#conteudo-footer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border: solid rgb(255, 255, 255) 3px;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    margin-left: 200px;
    margin-right: 200px;
}

.rodapeconteiner {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.logos {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
    padding-bottom: 20px;
    margin: auto 70px;
}

a {
    text-decoration: none;
    padding-bottom: 10px;
    color: rgb(255, 255, 255);
}

.rights {
    display: flex;
    text-align: center;
    color: #ffffff;
    margin: auto 780px;
}

#hoglogo {
    height: 75px;
    width: 250px;
    padding: 10px;
}

#casas {
    margin-bottom: 10px;
}